recursive-include ros2_ws/src/altinet/altinet/config *.yaml
recursive-include ros2_ws/src/altinet/altinet/launch *.py
recursive-include ros2_ws/src/altinet/altinet/msgs *.msg
recursive-include ros2_ws/src/altinet/altinet/srv *.srv
